.custom-button {
  width: 186px;
  height: 57px;
  color: white;
  background: black;
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    border: 1px solid black;
    color: black;
    background: white;
  }
  &.google-sign-in {
    background-color: #4285f4;
    color: white;
    &:hover {
      border: none;
      background: #357af8;
    }
  }
}
