.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100000000;
  top: 0px;
  background: white;
  .options-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    &:hover {
      .button {
        font-size: 16px;
      }
    }
  }
  .logo-container {
    width: 70px;
    padding: 10px;
  }
  .button {
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    transition: 0.5s;
  }
}
