.menu-item {
  min-width: 30%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  flex: 1;
  background-position: center;
  background-size: cover;
  &.large {
    height: 380px;
  }
  .content {
    border: 1px solid;
    padding: 8px 36px;
  }
}
